/* Level 1 */

#level-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

/* Level 2 */

#level-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#level-2 .peas {
    grid-column: span 2;
}

/* Level 3 */

#level-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#level-3 .peas {
    grid-column: span 1;
}

#level-3 .onions {
    grid-column: span 2;
}

#level-3 .tomatoes {
    grid-column: span 2;
}

#level-3 .carrots {
    grid-column: span 3;
}

/* Level 4 */

#level-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#level-4 .peas {
    grid-column: span 2;
}

#level-4 .onions {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#level-4 .tomatoes {
    grid-row: 2 / 3;
}

#level-4 .lettuce {
    grid-row: 2 / 3;
}

#level-4 .carrots {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}

/* Level 5 */

#level-5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#level-5 .carrots {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#level-5 .peas {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

#level-5 .onions {
    grid-area: 1 / 3 / 3 / 4;
}

#level-5 .tomatoes {
    grid-column: span 3;
}

#level-5 .lettuce {
    grid-column: 5;
    grid-row: 1;
}

/* Level 6 */

#level-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#level-6 .carrots {
    grid-column: span 5;
    grid-row: 1;
}

#level-6 .onions {
    grid-area: 2 / 1 / 4 / 1;
}

#level-6 .peas {
    grid-area: 2 / 2 / 4 / 5;
}

#level-6 .tomatoes {
    grid-column: 5;
    grid-row: 2 / 4;
}

#level-6 .lettuce {
    grid-column: span 5;
    grid-row: 4;
}

/* Level 7 */

#level-7 {
    display: grid;
    grid-template-columns: repeat(5, minmax(5ch, 1fr)); /* repeating, for 5 columns, a column that has a minimum width of 5 character and a max of the entire available screen / 5 at 1 fr */
}

/* Level 8 */

#level-8 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15ch); /* repeat allows function to iterate, auto-fit is the functionality like wrapping in flexbox, and 15ch is the width */
    grid-auto-rows: 5ch; /* auto-setting rows to 5ch height */
}

/* Level 9 */

#level-9 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-auto-rows: 5rem;
}